.commom-position-icon {

    position: relative;

    span {
        position: absolute;
        background-color: #F7BA01;
        color: #2d2d2d;
        padding: 3px 5px;
        border-radius: 50%;
        top: -5px;
        left: 31px;
        font-size: 8px;
    }
}

.active-color {
    background-color: #252525;
    color: #fff;
}

.active {
    &::before {
        transform: rotate(-225deg) !important;
        top: 22px !important;
    }

    .option {
        display: block !important;        
    }
}

.dr-active {
    .options {
        display: block !important;
    }
}

header #header-top {
    background-color: #eee;
    padding: 5px 0;

    .left {
        .dropdown-toggle {
            text-decoration: none;
            font-size: 13px;
            color: #656565;
            font-weight: 400;
            cursor: pointer;
            font-family: 'Jost', sans-serif;
        }

        ul {
            li {
                color: #6f6f6f;
                font-size: 12px;
                font-weight: 400;
                padding: 3px 0;
                font-family: 'Jost', sans-serif;
                box-shadow: none;

                &:hover {
                    background-color: #f8f9fa;
                }
            }
        }

        .dropdown-menu {
            .dropdown-item {

                &:focus,
                &:hover {
                    background-color: #f8f9fa !important;
                }
            }
        }
    }

    .rigth {
        .fa-brands {
            cursor: pointer !important;
            font-size: 15px !important;
            color: #868686 !important;

            &:hover {
                font-size: 17px !important;
                transform: translateY(5%);
                transition: .5s;
            }
        }
    }

    span {
        color: #CECECE;
    }
}

header #header-average{
    padding: 17px 0;

    .box-all {
        .logo {
            img {
                width: 80%;
                height: auto;
            }
        }

        .search-all {
            margin-right: 0 !important;
            padding: 3px 8px;
            font-size: 13px !important;
            border-radius: 15px !important;

            .search {

                .input-search {
                    padding-left: 20px !important;
                    border-top-left-radius: 5px !important;
                    border-bottom-left-radius: 5px !important;
                    width: 100%;
                    height: 47px;
                    border: 1px solid #eee;
                    color: #89817D;
                }
            }

            .category {
                border-top-right-radius: 5px !important;
                border-bottom-right-radius: 5px !important;
                align-items: center;
                border: 1px solid #eee;
                border-left: none;
                height: 47px !important;
                color: #89817D !important;

                .dropdownIcon {
                    position: relative;

                    &::before {
                        position: absolute;
                        content: '';
                        width: 7px;
                        height: 7px;
                        border: 2px solid #89817D;
                        right: 21px;
                        top: 18px;
                        z-index: 10000;
                        border-top: 2px solid #fff;
                        border-right: 2px solid #fff;
                        transform: rotate(-45deg);
                        transition: .5s;
                        pointer-events: none;
                    }



                    .textbox {
                        width: 100%;
                        height: 45px;
                        padding-left: 10px;
                        border: none;
                        cursor: pointer;
                        color: #89817D !important;
                    }

                    .option {
                        z-index: 4;
                        position: absolute;
                        background-color: #fff;
                        width: 100%;
                        top: 48px;
                        left: 0;
                        text-align: start;
                        display: none;
                        border: 1px solid #eee;

                        div {
                            padding: 7px 0 7px 20px;
                            cursor: pointer;

                            &:hover {
                                background-color: #ff6000;
                                color: #fff;
                            }
                        }
                    }
                }

                button {
                    border-top-right-radius: 5px !important;
                    border-bottom-right-radius: 5px !important;
                    color: #FFFFFF;
                    background-color: #F7BA01;
                    border: none !important;
                    height: 46px;
                    text-align: center;

                    i {
                        font-size: 18px;
                    }
                }


            }
        }

        .icons {
            a i {
                font-size: 19px;
                color: #2d2d2d;
                padding-left: 18px !important;
                font-family: "Font Awesome 6 Free";
            }

            #i2 {

                @extend .commom-position-icon;
            }

            #i3 {

                @extend .commom-position-icon;
            }

            #i4 {

                @extend .commom-position-icon;
            }


        }
    }
}

header #header-bottom {
    background-color: #0465D2;
    color: #fff;

    .all-categories {
        position: relative;

        i {
            font-size: 14px;
        }

        .title {
            background-color: #025BBF;
            padding: 20px 0 20px 20px;
            height: 78px;
            width: 250px;
            color: #fff;
            font-weight: 600;
        }

        .options {
            z-index: 3;
            position: absolute;
            background-color: #fff;
            width: 250px;
            top: 78px;
            left: 12px;
            text-align: start;
            display: none;
            border: 1px solid #eee;            

            .forOption{
                transition: .7s;

                a {
                    font-size: 14px;
                    color: #7d7d7d;
                }

                i {
                    font-size: 10px;
                    color: #7d7d7d;
                }

                &:hover {
                    border: 1px solid #e2e2e2;
                    background-color: #eee;

                }

                &:hover a {
                    color: #025BBF;
                }

                &:hover i {
                    color: #025BBF;
                }
            }
        }

        .forOp1{
               &:hover{
                .apElements1{
                    display: block !important;
                    .ap1{
                                               
                        a{
                            display: block;
                            color: gray;
                            padding: 7px 0;
                            font-size: 14px;
                            transition: .5s;
                            &:hover{
                                color: #025BBF;
                            }
                        }
                    }
                   } 
               } 
        }

        .forOp2,
        .forOp3,
        .forOp4{
            &:hover{
             .apElements2,
             .apElements3,
             .apElements4{
                 display: block !important;
                 .ap1{
                                            
                     a{
                         display: block;
                         color: gray;
                         padding: 7px 0;
                         font-size: 14px;
                         transition: .5s;
                         &:hover{
                             color: #025BBF;
                         }
                     }
                 }
                } 
            } 
     }



        .apElements1{
            display: none !important;
            .ap1{                
                background-color: #fff !important;
                position: absolute;
                width: 700px;
                top: 4px; 
                left: 261px;
                border: 1px solid #eee;              
                
                .apSpan{
                    color: black;
                    font-weight: 500;
                    margin: 10px 0;
                    font-size: 17px;
                }
        } 
            
        }

        .apElements2,
        .apElements3{
            display: none !important;
            .ap1{                
                background-color: #fff !important;
                position: absolute;
                width: 700px;
                top: 4px; 
                left: 261px;
                border: 1px solid #eee;              
                
                .apSpan{
                    color: black;
                    font-weight: 500;
                    margin: 10px 0;
                    font-size: 17px;
                }
                img{
                    padding: 10px;
                    width: 100%;
                }
        } 
            
        }

        
        .apElements4{
            display: none !important;
            .ap1{                
                background-color: #fff !important;
                position: absolute;
                width: 700px;                
                top: 4px; 
                left: 261px;
                border: 1px solid #eee;              
                
                .apSpan{
                    color: black;
                    font-weight: 500;
                    margin: 10px 0;
                    font-size: 17px;
                }

                .rigth{
                    height: 60px;
                    img{
                        height: 100%;
                    }
                }
                
        } 
            
        }
    }

    .menu-nav{
        .menu-item{            
            padding: 20px 0;
            height: 78px;            
            font-weight: 600;
            a{
                color: #fff;
            }
        }

        .menu{      
            font-weight: 600;
            ul{
                display: flex;
                justify-content: end;
                list-style: none;
                align-items: center;

                li{
                    z-index: 1;
                    position: relative; 
                    padding: 26px 0 14px 25px;

                    .commonHref{
                        color: #fff;
                        font-size: 14px;
                        
                        &::before{
                            transition: .5s;
                            position: absolute;
                            content:'';
                            top: 75px;
                            left: 18px;
                            height: 5px;
                            width: 0;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px ;
                            background-color:#F7BA01;                                                      
                        }
                    }
                    
                    &:hover .commonHref::before{
                        width: 85%;
                    }                    
                }

                .home{
                    position: relative;
                    .specialHref{
                        color: #fff;
                        font-size: 14px;
                        &::before{
                            position: absolute;
                            content:'';
                            top: 75px;
                            left: 18px;
                            height: 5px;
                            width: 85%;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px ;
                            background-color:#F7BA01;                            
                        }
                    }

                    .home-drop-down{
                        visibility: hidden;
                        position: absolute;
                        top: 80px;
                        left: 13px;
                        width: 200px; 
                        height: 0;                       
                        border: 1px solid #eee; 
                        padding: 10px 0 10px 20px !important;
                        background-color: #fff;
                        
                        a{
                            font-size: 12px;
                            color: #7d7d7d;
                            padding: 7px 0;
                            &:hover{
                                color: #025BBF;
                            }
                        }
                    }

                    &:hover{
                        .home-drop-down{
                            visibility: visible;
                            height: auto;
                        }
                    }
                }

                .category{
                    position: relative;
                    
                    .categories-drop-down{
                        visibility: hidden;
                        position: absolute;
                        background-color: #fff;
                        border: 2px solid #eee; 
                        width: 700px;
                        top: 80px;
                        left: -473px;
                        .rigth{
                            img{
                                width: 100%;
                            }
                        }

                        a{
                            font-size: 12px;
                            color: #7d7d7d;
                            padding: 7px 12px;
                            &:hover{
                                color: #025BBF;
                            }
                        }

                        span{
                            color: black;
                        }
                    }

                    &:hover{
                        .categories-drop-down{
                            visibility: visible;
                            height: auto;
                        }
                    }
                }

                .shop{
                    position: relative;

                    .shop-drop-down{
                        visibility: hidden;
                        position:absolute;
                        top: 80px;
                        left: -686px;
                        width: 1000px;
                        background-color: #fff;
                        border: 2px solid #eee; 

                        a{
                            font-size: 12px;
                            color: #7d7d7d;
                            padding: 7px 12px;
                            &:hover{
                                color: #025BBF;
                            }

                            .special-span{
                                font-size: 10px;
                                background-color: gray;
                                color: #fff;
                                padding: 0 2px;
                                border-radius: 3px;
                                text-align: left;
                            }
                        }
                        span{
                            color: black;
                        }
                    }

                    &:hover{
                        .shop-drop-down{
                            visibility: visible;
                            height: auto;
                        }
                    }

                }

                .pages{
                    position: relative;

                    .pages-drop-down{
                        visibility: hidden;
                        position: absolute;
                        top: 80px;
                        left: 13px;
                        width: 200px;                      
                        border: 2px solid #eee; 
                        padding: 10px 0 10px 20px !important;
                        background-color: #fff;
                        
                        a{
                            font-size: 12px;
                            color: #7d7d7d;
                            padding: 7px 0;
                            &:hover{
                                color: #025BBF;
                            }
                        }

                        .blog-div{
                            display: none;
                            position: absolute;                           
                        }

                        &:hover{
                            .blog-div{
                                display: block;
                                top: 205px;
                                left: 211px;
                                width: 150px;
                                border: 2px solid #eee; 
                                padding: 10px 0 10px 12px;
                                background-color: #fff;
                                a{
                                    padding: 10px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }

                    &:hover{
                        .pages-drop-down{
                            visibility: visible;
                            height: auto;
                        }
                    }
                    
                }

                .special-menu{
                    position: relative;
                    box-sizing: border-box;

                    .special-drop-down{
                        visibility: hidden;
                        position:absolute;
                        top: 80px;
                        left: -686px;
                        width: 1000px;
                        background-color: #fff; 

                        .box{
                            border: 2px solid #eee;
                            .left{
                                img{
                                    width: 100%;
                                }
                            } 
                            .rigth{
                            
                                a{
                                    font-size: 12px;
                                    color: #7d7d7d;
                                    padding: 3px 12px;
                                    &:hover{
                                        color: #025BBF;
                                    }
        
                                    .special-span{
                                        color:#F7BA01;
                                        font-size: 13px;
                                        font-weight: 600;
                                    }
                                }
                                span{
                                    color: black;
                                }
                            }
                        }

                        .gray{
                            background-color: #eee !important;
                        }
                    }

                    &:hover{
                        .special-drop-down{
                            visibility: visible;
                            height: auto;
                        }
                    }
                }

                .store{
                    position: relative;

                    .store-drop-down{
                        visibility: hidden;
                        position: absolute;
                        top: 80px;
                        left: 13px;
                        width: 200px;                    
                        border: 1px solid #eee; 
                        padding: 10px 0 10px 20px !important;
                        background-color: #fff;
                        
                        a{
                            font-size: 12px;
                            color: #7d7d7d;
                            padding: 7px 0;
                            &:hover{
                                color: #025BBF;
                            }
                        }
                    }

                    &:hover{
                        .store-drop-down{
                            visibility: visible;
                            height: auto;
                        }
                    }
                }
            }

            


        }


    }

}


