body{
    min-height: 100vh;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    .login-all{
        width: 400px;
        height: auto;
        


        .title{}
        .form{
            
        
            label{
                
                
            }
            input{

               
            }

            .remember{
            }
        }
    }
}

