* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input, select, button {
  outline: none !important;
}

.commom-position-icon, header #header-average .box-all .icons #i4, header #header-average .box-all .icons #i3, header #header-average .box-all .icons #i2 {
  position: relative;
}
.commom-position-icon span, header #header-average .box-all .icons #i4 span, header #header-average .box-all .icons #i3 span, header #header-average .box-all .icons #i2 span {
  position: absolute;
  background-color: #F7BA01;
  color: #2d2d2d;
  padding: 3px 5px;
  border-radius: 50%;
  top: -5px;
  left: 31px;
  font-size: 8px;
}

.active-color {
  background-color: #252525;
  color: #fff;
}

.active::before {
  transform: rotate(-225deg) !important;
  top: 22px !important;
}
.active .option {
  display: block !important;
}

.dr-active .options {
  display: block !important;
}

header #header-top {
  background-color: #eee;
  padding: 5px 0;
}
header #header-top .left .dropdown-toggle {
  text-decoration: none;
  font-size: 13px;
  color: #656565;
  font-weight: 400;
  cursor: pointer;
  font-family: "Jost", sans-serif;
}
header #header-top .left ul li {
  color: #6f6f6f;
  font-size: 12px;
  font-weight: 400;
  padding: 3px 0;
  font-family: "Jost", sans-serif;
  box-shadow: none;
}
header #header-top .left ul li:hover {
  background-color: #f8f9fa;
}
header #header-top .left .dropdown-menu .dropdown-item:focus, header #header-top .left .dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa !important;
}
header #header-top .rigth .fa-brands {
  cursor: pointer !important;
  font-size: 15px !important;
  color: #868686 !important;
}
header #header-top .rigth .fa-brands:hover {
  font-size: 17px !important;
  transform: translateY(5%);
  transition: 0.5s;
}
header #header-top span {
  color: #CECECE;
}

header #header-average {
  padding: 17px 0;
}
header #header-average .box-all .logo img {
  width: 80%;
  height: auto;
}
header #header-average .box-all .search-all {
  margin-right: 0 !important;
  padding: 3px 8px;
  font-size: 13px !important;
  border-radius: 15px !important;
}
header #header-average .box-all .search-all .search .input-search {
  padding-left: 20px !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  width: 100%;
  height: 47px;
  border: 1px solid #eee;
  color: #89817D;
}
header #header-average .box-all .search-all .category {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  align-items: center;
  border: 1px solid #eee;
  border-left: none;
  height: 47px !important;
  color: #89817D !important;
}
header #header-average .box-all .search-all .category .dropdownIcon {
  position: relative;
}
header #header-average .box-all .search-all .category .dropdownIcon::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #89817D;
  right: 21px;
  top: 18px;
  z-index: 10000;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}
header #header-average .box-all .search-all .category .dropdownIcon .textbox {
  width: 100%;
  height: 45px;
  padding-left: 10px;
  border: none;
  cursor: pointer;
  color: #89817D !important;
}
header #header-average .box-all .search-all .category .dropdownIcon .option {
  z-index: 1;
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 48px;
  left: 0;
  text-align: start;
  display: none;
  border: 1px solid #eee;
}
header #header-average .box-all .search-all .category .dropdownIcon .option div {
  padding: 7px 0 7px 20px;
  cursor: pointer;
}
header #header-average .box-all .search-all .category .dropdownIcon .option div:hover {
  background-color: #ff6000;
  color: #fff;
}
header #header-average .box-all .search-all .category button {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  color: #FFFFFF;
  background-color: #F7BA01;
  border: none !important;
  height: 46px;
  text-align: center;
}
header #header-average .box-all .search-all .category button i {
  font-size: 18px;
}
header #header-average .box-all .icons a i {
  font-size: 19px;
  color: #2d2d2d;
  padding-left: 18px !important;
  font-family: "Font Awesome 6 Free";
}
header #header-bottom {
  background-color: #0465D2;
  color: #fff;
}
header #header-bottom .all-categories {
  position: relative;
}
header #header-bottom .all-categories i {
  font-size: 14px;
}
header #header-bottom .all-categories .title {
  background-color: #025BBF;
  padding: 20px 0 20px 20px;
  height: 78px;
  width: 250px;
  color: #fff;
  font-weight: 600;
}
header #header-bottom .all-categories .options {
  position: absolute;
  background-color: #fff;
  width: 250px;
  top: 78px;
  left: 12px;
  text-align: start;
  display: none;
  border: 1px solid #eee;
}
header #header-bottom .all-categories .options .forOption {
  transition: 0.7s;
}
header #header-bottom .all-categories .options .forOption a {
  font-size: 14px;
  color: #7d7d7d;
}
header #header-bottom .all-categories .options .forOption i {
  font-size: 10px;
  color: #7d7d7d;
}
header #header-bottom .all-categories .options .forOption:hover {
  border: 1px solid #e2e2e2;
  background-color: #eee;
}
header #header-bottom .all-categories .options .forOption:hover a {
  color: #025BBF;
}
header #header-bottom .all-categories .options .forOption:hover i {
  color: #025BBF;
}
header #header-bottom .all-categories .forOp1:hover .apElements1 {
  display: block !important;
}
header #header-bottom .all-categories .forOp1:hover .apElements1 .ap1 a {
  display: block;
  color: gray;
  padding: 7px 0;
  font-size: 14px;
  transition: 0.5s;
}
header #header-bottom .all-categories .forOp1:hover .apElements1 .ap1 a:hover {
  color: #025BBF;
}
header #header-bottom .all-categories .forOp2:hover .apElements2,
header #header-bottom .all-categories .forOp2:hover .apElements3,
header #header-bottom .all-categories .forOp2:hover .apElements4,
header #header-bottom .all-categories .forOp3:hover .apElements2,
header #header-bottom .all-categories .forOp3:hover .apElements3,
header #header-bottom .all-categories .forOp3:hover .apElements4,
header #header-bottom .all-categories .forOp4:hover .apElements2,
header #header-bottom .all-categories .forOp4:hover .apElements3,
header #header-bottom .all-categories .forOp4:hover .apElements4 {
  display: block !important;
}
header #header-bottom .all-categories .forOp2:hover .apElements2 .ap1 a,
header #header-bottom .all-categories .forOp2:hover .apElements3 .ap1 a,
header #header-bottom .all-categories .forOp2:hover .apElements4 .ap1 a,
header #header-bottom .all-categories .forOp3:hover .apElements2 .ap1 a,
header #header-bottom .all-categories .forOp3:hover .apElements3 .ap1 a,
header #header-bottom .all-categories .forOp3:hover .apElements4 .ap1 a,
header #header-bottom .all-categories .forOp4:hover .apElements2 .ap1 a,
header #header-bottom .all-categories .forOp4:hover .apElements3 .ap1 a,
header #header-bottom .all-categories .forOp4:hover .apElements4 .ap1 a {
  display: block;
  color: gray;
  padding: 7px 0;
  font-size: 14px;
  transition: 0.5s;
}
header #header-bottom .all-categories .forOp2:hover .apElements2 .ap1 a:hover,
header #header-bottom .all-categories .forOp2:hover .apElements3 .ap1 a:hover,
header #header-bottom .all-categories .forOp2:hover .apElements4 .ap1 a:hover,
header #header-bottom .all-categories .forOp3:hover .apElements2 .ap1 a:hover,
header #header-bottom .all-categories .forOp3:hover .apElements3 .ap1 a:hover,
header #header-bottom .all-categories .forOp3:hover .apElements4 .ap1 a:hover,
header #header-bottom .all-categories .forOp4:hover .apElements2 .ap1 a:hover,
header #header-bottom .all-categories .forOp4:hover .apElements3 .ap1 a:hover,
header #header-bottom .all-categories .forOp4:hover .apElements4 .ap1 a:hover {
  color: #025BBF;
}
header #header-bottom .all-categories .apElements1 {
  display: none !important;
}
header #header-bottom .all-categories .apElements1 .ap1 {
  background-color: #fff !important;
  position: absolute;
  width: 700px;
  top: 4px;
  left: 261px;
  border: 1px solid #eee;
}
header #header-bottom .all-categories .apElements1 .ap1 .apSpan {
  color: black;
  font-weight: 500;
  margin: 10px 0;
  font-size: 17px;
}
header #header-bottom .all-categories .apElements2,
header #header-bottom .all-categories .apElements3 {
  display: none !important;
}
header #header-bottom .all-categories .apElements2 .ap1,
header #header-bottom .all-categories .apElements3 .ap1 {
  background-color: #fff !important;
  position: absolute;
  width: 700px;
  top: 4px;
  left: 261px;
  border: 1px solid #eee;
}
header #header-bottom .all-categories .apElements2 .ap1 .apSpan,
header #header-bottom .all-categories .apElements3 .ap1 .apSpan {
  color: black;
  font-weight: 500;
  margin: 10px 0;
  font-size: 17px;
}
header #header-bottom .all-categories .apElements2 .ap1 img,
header #header-bottom .all-categories .apElements3 .ap1 img {
  padding: 10px;
  width: 100%;
}
header #header-bottom .all-categories .apElements4 {
  display: none !important;
}
header #header-bottom .all-categories .apElements4 .ap1 {
  background-color: #fff !important;
  position: absolute;
  width: 700px;
  top: 4px;
  left: 261px;
  border: 1px solid #eee;
}
header #header-bottom .all-categories .apElements4 .ap1 .apSpan {
  color: black;
  font-weight: 500;
  margin: 10px 0;
  font-size: 17px;
}
header #header-bottom .all-categories .apElements4 .ap1 .rigth {
  height: 60px;
}
header #header-bottom .all-categories .apElements4 .ap1 .rigth img {
  height: 100%;
}
header #header-bottom .menu-nav .menu-item {
  padding: 20px 0;
  height: 78px;
  font-weight: 600;
}
header #header-bottom .menu-nav .menu-item a {
  color: #fff;
}
header #header-bottom .menu-nav .menu {
  font-weight: 600;
}
header #header-bottom .menu-nav .menu ul {
  display: flex;
  justify-content: end;
  list-style: none;
  align-items: center;
}
header #header-bottom .menu-nav .menu ul li {
  position: relative;
  padding: 26px 0 14px 25px;
}
header #header-bottom .menu-nav .menu ul li .commonHref {
  color: #fff;
  font-size: 14px;
}
header #header-bottom .menu-nav .menu ul li .commonHref::before {
  transition: 0.5s;
  position: absolute;
  content: "";
  top: 75px;
  left: 18px;
  height: 5px;
  width: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #F7BA01;
}
header #header-bottom .menu-nav .menu ul li:hover .commonHref::before {
  width: 85%;
}
header #header-bottom .menu-nav .menu ul .home {
  position: relative;
}
header #header-bottom .menu-nav .menu ul .home .specialHref {
  color: #fff;
  font-size: 14px;
}
header #header-bottom .menu-nav .menu ul .home .specialHref::before {
  position: absolute;
  content: "";
  top: 75px;
  left: 18px;
  height: 5px;
  width: 85%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #F7BA01;
}
header #header-bottom .menu-nav .menu ul .home .home-drop-down {
  visibility: hidden;
  position: absolute;
  top: 80px;
  left: 13px;
  width: 200px;
  height: 0;
  border: 1px solid #eee;
  padding: 10px 0 10px 20px !important;
  background-color: #fff;
}
header #header-bottom .menu-nav .menu ul .home .home-drop-down a {
  font-size: 12px;
  color: #7d7d7d;
  padding: 7px 0;
}
header #header-bottom .menu-nav .menu ul .home .home-drop-down a:hover {
  color: #025BBF;
}
header #header-bottom .menu-nav .menu ul .home:hover .home-drop-down {
  visibility: visible;
  height: auto;
}
header #header-bottom .menu-nav .menu ul .category {
  position: relative;
}
header #header-bottom .menu-nav .menu ul .category .categories-drop-down {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  border: 2px solid #eee;
  width: 700px;
  top: 80px;
  left: -473px;
}
header #header-bottom .menu-nav .menu ul .category .categories-drop-down .rigth img {
  width: 100%;
}
header #header-bottom .menu-nav .menu ul .category .categories-drop-down a {
  font-size: 12px;
  color: #7d7d7d;
  padding: 7px 12px;
}
header #header-bottom .menu-nav .menu ul .category .categories-drop-down a:hover {
  color: #025BBF;
}
header #header-bottom .menu-nav .menu ul .category .categories-drop-down span {
  color: black;
}
header #header-bottom .menu-nav .menu ul .category:hover .categories-drop-down {
  visibility: visible;
  height: auto;
}
header #header-bottom .menu-nav .menu ul .shop {
  position: relative;
}
header #header-bottom .menu-nav .menu ul .shop .shop-drop-down {
  visibility: hidden;
  position: absolute;
  top: 80px;
  left: -686px;
  width: 1000px;
  background-color: #fff;
  border: 2px solid #eee;
}
header #header-bottom .menu-nav .menu ul .shop .shop-drop-down a {
  font-size: 12px;
  color: #7d7d7d;
  padding: 7px 12px;
}
header #header-bottom .menu-nav .menu ul .shop .shop-drop-down a:hover {
  color: #025BBF;
}
header #header-bottom .menu-nav .menu ul .shop .shop-drop-down a .special-span {
  font-size: 10px;
  background-color: gray;
  color: #fff;
  padding: 0 2px;
  border-radius: 3px;
  text-align: left;
}
header #header-bottom .menu-nav .menu ul .shop .shop-drop-down span {
  color: black;
}
header #header-bottom .menu-nav .menu ul .shop:hover .shop-drop-down {
  visibility: visible;
  height: auto;
}
header #header-bottom .menu-nav .menu ul .pages {
  position: relative;
}
header #header-bottom .menu-nav .menu ul .pages .pages-drop-down {
  visibility: hidden;
  position: absolute;
  top: 80px;
  left: 13px;
  width: 200px;
  border: 2px solid #eee;
  padding: 10px 0 10px 20px !important;
  background-color: #fff;
}
header #header-bottom .menu-nav .menu ul .pages .pages-drop-down a {
  font-size: 12px;
  color: #7d7d7d;
  padding: 7px 0;
}
header #header-bottom .menu-nav .menu ul .pages .pages-drop-down a:hover {
  color: #025BBF;
}
header #header-bottom .menu-nav .menu ul .pages .pages-drop-down .blog-div {
  display: none;
  position: absolute;
}
header #header-bottom .menu-nav .menu ul .pages .pages-drop-down:hover .blog-div {
  display: block;
  top: 205px;
  left: 211px;
  width: 150px;
  border: 2px solid #eee;
  padding: 10px 0 10px 12px;
  background-color: #fff;
}
header #header-bottom .menu-nav .menu ul .pages .pages-drop-down:hover .blog-div a {
  padding: 10px;
  font-size: 12px;
}
header #header-bottom .menu-nav .menu ul .pages:hover .pages-drop-down {
  visibility: visible;
  height: auto;
}
header #header-bottom .menu-nav .menu ul .special-menu {
  position: relative;
  box-sizing: border-box;
}
header #header-bottom .menu-nav .menu ul .special-menu .special-drop-down {
  visibility: hidden;
  position: absolute;
  top: 80px;
  left: -686px;
  width: 1000px;
  background-color: #fff;
}
header #header-bottom .menu-nav .menu ul .special-menu .special-drop-down .box {
  border: 2px solid #eee;
}
header #header-bottom .menu-nav .menu ul .special-menu .special-drop-down .box .left img {
  width: 100%;
}
header #header-bottom .menu-nav .menu ul .special-menu .special-drop-down .box .rigth a {
  font-size: 12px;
  color: #7d7d7d;
  padding: 3px 12px;
}
header #header-bottom .menu-nav .menu ul .special-menu .special-drop-down .box .rigth a:hover {
  color: #025BBF;
}
header #header-bottom .menu-nav .menu ul .special-menu .special-drop-down .box .rigth a .special-span {
  color: #F7BA01;
  font-size: 13px;
  font-weight: 600;
}
header #header-bottom .menu-nav .menu ul .special-menu .special-drop-down .box .rigth span {
  color: black;
}
header #header-bottom .menu-nav .menu ul .special-menu .special-drop-down .gray {
  background-color: #eee !important;
}
header #header-bottom .menu-nav .menu ul .special-menu:hover .special-drop-down {
  visibility: visible;
  height: auto;
}
header #header-bottom .menu-nav .menu ul .store {
  position: relative;
}
header #header-bottom .menu-nav .menu ul .store .store-drop-down {
  visibility: hidden;
  position: absolute;
  top: 80px;
  left: 13px;
  width: 200px;
  border: 1px solid #eee;
  padding: 10px 0 10px 20px !important;
  background-color: #fff;
}
header #header-bottom .menu-nav .menu ul .store .store-drop-down a {
  font-size: 12px;
  color: #7d7d7d;
  padding: 7px 0;
}
header #header-bottom .menu-nav .menu ul .store .store-drop-down a:hover {
  color: #025BBF;
}
header #header-bottom .menu-nav .menu ul .store:hover .store-drop-down {
  visibility: visible;
  height: auto;
}

footer #footer-subscribe {
  background-color: #F2F2F2;
  padding-top: 80px;
}
footer #footer-subscribe .subscribe-all {
  border-bottom: 1px solid #bdbcbc;
  padding: 80px 0 44px 0;
}
footer #footer-subscribe .subscribe-all .left h4 {
  font-size: 22px;
  line-height: 1.75;
  font-style: normal;
  font-weight: 500;
  color: #252525;
}
footer #footer-subscribe .subscribe-all .left span {
  line-height: 1;
  font-size: 14px;
  color: #7D7D7D;
  font-weight: 500;
}
footer #footer-subscribe .subscribe-all .rigth input {
  border: none;
  padding: 17px 200px 17px 30px;
  font-size: 12px;
  color: #7D7D7D;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
footer #footer-subscribe .subscribe-all .rigth button {
  border: none;
  background-color: #F7BA01;
  color: #252525;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 17px 27px;
}
footer #footer-subscribe .subscribe-all .rigth button:hover {
  background-color: #252525;
  color: #fff;
}

footer #footer-find {
  padding: 44px 0;
  background-color: #F2F2F2;
}
footer #footer-find .top h4 {
  font-size: 22px;
  line-height: 1.75;
  font-style: normal;
  font-weight: 500;
  color: #252525;
}
footer #footer-find .bottom {
  color: #7D7D7D;
}
footer #footer-find .bottom ul {
  list-style: none;
  display: flex;
}
footer #footer-find .bottom ul li a {
  font-family: "Jost", sans-serif;
  text-align: center;
  font-size: 15px;
  color: #7D7D7D;
}
footer #footer-find .bottom ul li a:hover {
  color: #025BBF;
}

footer #footer-contact {
  padding: 44px 0;
  background-color: #F2F2F2;
}
footer #footer-contact .left .logo {
  padding-bottom: 30px;
}
footer #footer-contact .left .logo img {
  width: 40%;
}
footer #footer-contact .left .text {
  padding: 0 40px 40px 0;
  line-height: 1.8;
  font-size: 14px;
  color: #7D7D7D;
  font-weight: 500;
  font-family: "Jost", sans-serif;
}
footer #footer-contact .rigth ul {
  list-style: none;
}
footer #footer-contact .rigth ul li {
  padding-bottom: 17px;
}
footer #footer-contact .rigth ul li a {
  font-family: "Jost", sans-serif;
  text-align: center;
  font-size: 15px;
  color: #7D7D7D;
}
footer #footer-contact .rigth ul li a:hover {
  color: #025BBF;
}
footer #footer-contact .rigth ul li i {
  color: #7D7D7D;
}
footer #footer-contact .rigth ul li span {
  font-family: "Jost", sans-serif;
  text-align: center;
  font-size: 15px;
  color: #7D7D7D;
}

footer #footer-bottom {
  background-color: #303030;
  padding: 20px 0;
}
footer #footer-bottom .left p {
  line-height: 1.8;
  font-size: 14px;
  color: #7D7D7D;
  font-weight: 500;
  font-family: "Jost", sans-serif;
}
footer #footer-bottom .rigth img {
  width: 100%;
}

.common-next-prev, main #slider .slider-all .next, main #slider .slider-all .prev {
  position: absolute;
  top: 500px;
  transform: translateY(-50%);
  font-size: 14px;
  cursor: pointer;
  padding: 12px 19px;
  background-color: white;
  color: #9b9b9b;
  font-weight: bold;
  box-shadow: 0px 5px 10px 0px rgba(32, 32, 32, 0.04);
  z-index: 1;
}

main #slider {
  background-image: url("https://ninetheme.com/themes/venam/v1/wp-content/uploads/2021/05/slider_bg.jpg");
  margin: 0;
  padding: 0;
  background-size: 100%;
  height: 600px;
  padding: 20px 0;
  position: relative;
}
main #slider .slider-all {
  padding: 90px 70px;
}
main #slider .slider-all .left h5 {
  font-size: 64px;
  text-transform: uppercase;
  line-height: 0.9;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
main #slider .slider-all .left h2 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 300;
  font-style: normal;
  color: #252525;
  line-height: 1.4;
}
main #slider .slider-all .left p {
  line-height: 1.2;
  margin-bottom: 45px;
  color: #3b3b3b;
  font-size: 16px;
}
main #slider .slider-all .left p span {
  color: #0163d2;
}
main #slider .slider-all .left a {
  font-family: "Jost", sans-serif;
  padding: 17px 27px;
  background-color: #0465d2;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s;
}
main #slider .slider-all .left a:hover {
  background-color: #252525;
}
main #slider .slider-all .rigth {
  transition: 0.5s;
}
main #slider .slider-all .rigth img {
  width: 100%;
}
main #slider .slider-all .prev {
  left: 50%;
  transform: translateX(-103%);
}
main #slider .slider-all .prev:hover {
  color: #FF6000;
}
main #slider .slider-all .next {
  right: 50%;
  transform: translateX(103%);
}
main #slider .slider-all .next:hover {
  color: #FF6000;
}

@media (max-width: 576px) {
  header #header-top .box-all {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  header #header-top .box-all .left {
    margin-right: 25px !important;
  }
  header #header-top .box-all .rigth .fa-brands {
    padding-left: 10px !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header #header-top .box-all {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
  header #header-top .box-all .left {
    margin-right: 25px !important;
  }
  header #header-top .box-all .rigth .fa-brands {
    padding-left: 10px !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header #header-top .box-all {
    justify-content: space-between !important;
    align-items: center !important;
  }
  header #header-top .box-all .left {
    justify-content: start !important;
  }
  header #header-top .box-all .rigth {
    justify-content: end !important;
  }
  header #header-top .box-all .rigth .fa-brands {
    margin-left: 10px !important;
  }
}
@media (min-width: 992px) and (max-width: 1140px) {
  header #header-top .box-all {
    justify-content: space-between !important;
    align-items: center !important;
  }
  header #header-top .box-all .left {
    justify-content: center !important;
  }
  header #header-top .box-all .rigth {
    justify-content: center !important;
  }
  header #header-top .box-all .rigth .fa-brands {
    margin-left: 10px !important;
  }
}
@media (min-width: 1140px) {
  header #header-top .box-all {
    justify-content: space-between !important;
    align-items: center !important;
  }
  header #header-top .box-all .left {
    justify-content: center !important;
  }
  header #header-top .box-all .rigth {
    justify-content: center !important;
  }
  header #header-top .box-all .rigth .fa-brands {
    margin-left: 10px !important;
  }
}/*# sourceMappingURL=style.css.map */