* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input, select, button {
  outline: none !important;
}

.commom-position-icon, header #header-average .box-all .icons #i4, header #header-average .box-all .icons #i3, header #header-average .box-all .icons #i2 {
  position: relative;
}
.commom-position-icon span, header #header-average .box-all .icons #i4 span, header #header-average .box-all .icons #i3 span, header #header-average .box-all .icons #i2 span {
  position: absolute;
  background-color: #F7BA01;
  color: #2d2d2d;
  padding: 3px 5px;
  border-radius: 50%;
  top: -5px;
  left: 31px;
  font-size: 8px;
}

.active-color {
  background-color: #252525;
  color: #fff;
}

.active::before {
  transform: rotate(-225deg) !important;
  top: 22px !important;
}
.active .option {
  display: block !important;
}

.dr-active .options {
  display: block !important;
}

header #header-top {
  background-color: #eee;
  padding: 5px 0;
}
header #header-top .left .dropdown-toggle {
  text-decoration: none;
  font-size: 13px;
  color: #656565;
  font-weight: 400;
  cursor: pointer;
  font-family: "Jost", sans-serif;
}
header #header-top .left ul li {
  color: #6f6f6f;
  font-size: 12px;
  font-weight: 400;
  padding: 3px 0;
  font-family: "Jost", sans-serif;
  box-shadow: none;
}
header #header-top .left ul li:hover {
  background-color: #f8f9fa;
}
header #header-top .left .dropdown-menu .dropdown-item:focus, header #header-top .left .dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa !important;
}
header #header-top .rigth .fa-brands {
  cursor: pointer !important;
  font-size: 15px !important;
  color: #868686 !important;
}
header #header-top .rigth .fa-brands:hover {
  font-size: 17px !important;
  transform: translateY(5%);
  transition: 0.5s;
}
header #header-top span {
  color: #CECECE;
}

header #header-average {
  padding: 17px 0;
}
header #header-average .box-all .logo img {
  width: 80%;
  height: auto;
}
header #header-average .box-all .search-all {
  margin-right: 0 !important;
  padding: 3px 8px;
  font-size: 13px !important;
  border-radius: 15px !important;
}
header #header-average .box-all .search-all .search .input-search {
  padding-left: 20px !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  width: 100%;
  height: 47px;
  border: 1px solid #eee;
  color: #89817D;
}
header #header-average .box-all .search-all .category {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  align-items: center;
  border: 1px solid #eee;
  border-left: none;
  height: 47px !important;
  color: #89817D !important;
}
header #header-average .box-all .search-all .category .dropdownIcon {
  position: relative;
}
header #header-average .box-all .search-all .category .dropdownIcon::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #89817D;
  right: 21px;
  top: 18px;
  z-index: 10000;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}
header #header-average .box-all .search-all .category .dropdownIcon .textbox {
  width: 100%;
  height: 45px;
  padding-left: 10px;
  border: none;
  cursor: pointer;
  color: #89817D !important;
}
header #header-average .box-all .search-all .category .dropdownIcon .option {
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 48px;
  left: 0;
  text-align: start;
  display: none;
  border: 1px solid #eee;
}
header #header-average .box-all .search-all .category .dropdownIcon .option div {
  padding: 7px 0 7px 20px;
  cursor: pointer;
}
header #header-average .box-all .search-all .category .dropdownIcon .option div:hover {
  background-color: #ff6000;
  color: #fff;
}
header #header-average .box-all .search-all .category button {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  color: #FFFFFF;
  background-color: #F7BA01;
  border: none !important;
  height: 46px;
  text-align: center;
}
header #header-average .box-all .search-all .category button i {
  font-size: 18px;
}
header #header-average .box-all .icons a i {
  font-size: 19px;
  color: #2d2d2d;
  padding-left: 18px !important;
  font-family: "Font Awesome 6 Free";
}
header #header-bottom {
  background-color: #0465D2;
  color: #fff;
}
header #header-bottom .all-categories {
  position: relative;
}
header #header-bottom .all-categories i {
  font-size: 14px;
}
header #header-bottom .all-categories .title {
  background-color: #025BBF;
  padding: 20px 0 20px 20px;
  height: 78px;
  width: 250px;
  color: #fff;
  font-weight: 600;
}
header #header-bottom .all-categories .options {
  position: absolute;
  background-color: #fff;
  width: 250px;
  top: 78px;
  left: 12px;
  text-align: start;
  display: none;
  border: 1px solid #eee;
}
header #header-bottom .all-categories .options .forOption {
  transition: 0.7s;
}
header #header-bottom .all-categories .options .forOption a {
  font-size: 14px;
  color: #7d7d7d;
}
header #header-bottom .all-categories .options .forOption i {
  font-size: 10px;
  color: #7d7d7d;
}
header #header-bottom .all-categories .options .forOption:hover {
  border: 1px solid #e2e2e2;
  background-color: #eee;
}
header #header-bottom .all-categories .options .forOption:hover a {
  color: #025BBF;
}
header #header-bottom .all-categories .options .forOption:hover i {
  color: #025BBF;
}
header #header-bottom .all-categories .forOp1:hover .apElements1 {
  display: block !important;
}
header #header-bottom .all-categories .forOp1:hover .apElements1 .ap1 a {
  display: block;
  color: gray;
  padding: 7px 0;
  font-size: 14px;
  transition: 0.5s;
}
header #header-bottom .all-categories .forOp1:hover .apElements1 .ap1 a:hover {
  color: #025BBF;
}
header #header-bottom .all-categories .forOp2:hover .apElements2,
header #header-bottom .all-categories .forOp2:hover .apElements3,
header #header-bottom .all-categories .forOp2:hover .apElements4,
header #header-bottom .all-categories .forOp3:hover .apElements2,
header #header-bottom .all-categories .forOp3:hover .apElements3,
header #header-bottom .all-categories .forOp3:hover .apElements4,
header #header-bottom .all-categories .forOp4:hover .apElements2,
header #header-bottom .all-categories .forOp4:hover .apElements3,
header #header-bottom .all-categories .forOp4:hover .apElements4 {
  display: block !important;
}
header #header-bottom .all-categories .forOp2:hover .apElements2 .ap1 a,
header #header-bottom .all-categories .forOp2:hover .apElements3 .ap1 a,
header #header-bottom .all-categories .forOp2:hover .apElements4 .ap1 a,
header #header-bottom .all-categories .forOp3:hover .apElements2 .ap1 a,
header #header-bottom .all-categories .forOp3:hover .apElements3 .ap1 a,
header #header-bottom .all-categories .forOp3:hover .apElements4 .ap1 a,
header #header-bottom .all-categories .forOp4:hover .apElements2 .ap1 a,
header #header-bottom .all-categories .forOp4:hover .apElements3 .ap1 a,
header #header-bottom .all-categories .forOp4:hover .apElements4 .ap1 a {
  display: block;
  color: gray;
  padding: 7px 0;
  font-size: 14px;
  transition: 0.5s;
}
header #header-bottom .all-categories .forOp2:hover .apElements2 .ap1 a:hover,
header #header-bottom .all-categories .forOp2:hover .apElements3 .ap1 a:hover,
header #header-bottom .all-categories .forOp2:hover .apElements4 .ap1 a:hover,
header #header-bottom .all-categories .forOp3:hover .apElements2 .ap1 a:hover,
header #header-bottom .all-categories .forOp3:hover .apElements3 .ap1 a:hover,
header #header-bottom .all-categories .forOp3:hover .apElements4 .ap1 a:hover,
header #header-bottom .all-categories .forOp4:hover .apElements2 .ap1 a:hover,
header #header-bottom .all-categories .forOp4:hover .apElements3 .ap1 a:hover,
header #header-bottom .all-categories .forOp4:hover .apElements4 .ap1 a:hover {
  color: #025BBF;
}
header #header-bottom .all-categories .apElements1 {
  display: none !important;
}
header #header-bottom .all-categories .apElements1 .ap1 {
  background-color: #fff !important;
  position: absolute;
  width: 700px;
  top: 4px;
  left: 261px;
  border: 1px solid #eee;
}
header #header-bottom .all-categories .apElements1 .ap1 .apSpan {
  color: black;
  font-weight: 500;
  margin: 10px 0;
  font-size: 17px;
}
header #header-bottom .all-categories .apElements2,
header #header-bottom .all-categories .apElements3 {
  display: none !important;
}
header #header-bottom .all-categories .apElements2 .ap1,
header #header-bottom .all-categories .apElements3 .ap1 {
  background-color: #fff !important;
  position: absolute;
  width: 700px;
  top: 4px;
  left: 261px;
  border: 1px solid #eee;
}
header #header-bottom .all-categories .apElements2 .ap1 .apSpan,
header #header-bottom .all-categories .apElements3 .ap1 .apSpan {
  color: black;
  font-weight: 500;
  margin: 10px 0;
  font-size: 17px;
}
header #header-bottom .all-categories .apElements2 .ap1 img,
header #header-bottom .all-categories .apElements3 .ap1 img {
  padding: 10px;
  width: 100%;
}
header #header-bottom .all-categories .apElements4 {
  display: none !important;
}
header #header-bottom .all-categories .apElements4 .ap1 {
  background-color: #fff !important;
  position: absolute;
  width: 700px;
  top: 4px;
  left: 261px;
  border: 1px solid #eee;
}
header #header-bottom .all-categories .apElements4 .ap1 .apSpan {
  color: black;
  font-weight: 500;
  margin: 10px 0;
  font-size: 17px;
}
header #header-bottom .all-categories .apElements4 .ap1 .rigth {
  height: 60px;
}
header #header-bottom .all-categories .apElements4 .ap1 .rigth img {
  height: 100%;
}
header #header-bottom .menu-nav .menu-item {
  padding: 20px 0;
  height: 78px;
  font-weight: 600;
}
header #header-bottom .menu-nav .menu-item a {
  color: #fff;
}
header #header-bottom .menu-nav .menu {
  padding: 26px 0 14px;
  font-weight: 600;
}
header #header-bottom .menu-nav .menu ul {
  display: flex;
  justify-content: end;
  list-style: none;
  align-items: center;
}
header #header-bottom .menu-nav .menu ul li {
  padding-left: 25px;
}
header #header-bottom .menu-nav .menu ul li::before {
  content: "";
}
header #header-bottom .menu-nav .menu a {
  color: #fff;
  font-size: 14px;
}

@media (max-width: 576px) {
  header #header-top .box-all {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  header #header-top .box-all .left {
    margin-right: 25px !important;
  }
  header #header-top .box-all .rigth .fa-brands {
    padding-left: 10px !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header #header-top .box-all {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
  header #header-top .box-all .left {
    margin-right: 25px !important;
  }
  header #header-top .box-all .rigth .fa-brands {
    padding-left: 10px !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header #header-top .box-all {
    justify-content: space-between !important;
    align-items: center !important;
  }
  header #header-top .box-all .left {
    justify-content: start !important;
  }
  header #header-top .box-all .rigth {
    justify-content: end !important;
  }
  header #header-top .box-all .rigth .fa-brands {
    margin-left: 10px !important;
  }
}
@media (min-width: 992px) and (max-width: 1140px) {
  header #header-top .box-all {
    justify-content: space-between !important;
    align-items: center !important;
  }
  header #header-top .box-all .left {
    justify-content: center !important;
  }
  header #header-top .box-all .rigth {
    justify-content: center !important;
  }
  header #header-top .box-all .rigth .fa-brands {
    margin-left: 10px !important;
  }
}
@media (min-width: 1140px) {
  header #header-top .box-all {
    justify-content: space-between !important;
    align-items: center !important;
  }
  header #header-top .box-all .left {
    justify-content: center !important;
  }
  header #header-top .box-all .rigth {
    justify-content: center !important;
  }
  header #header-top .box-all .rigth .fa-brands {
    margin-left: 10px !important;
  }
}/*# sourceMappingURL=style.css.map */